@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: 'Reggae One', cursive;
}

a {
  text-decoration: none;
}

.navbar {
  height: 80px;
  border: 2px dashed red;
}

.navbar ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  list-style: none;
}

.navbar li {
  color: white;
  text-transform: uppercase;
}

.active-link-1 li {
  color: #47E10C; 
}

.active-link-2 li {
  color: blue; 
}

.active-link-3 li {
  color: red; 
}